/.project
/.settings/
/.buildpath
composer.lock
/vendor/
generis/
tao/
taoBackOffice/
taoDelivery/
taoDeliveryRdf/
taoGroups/
taoItems/
taoLti/
taoOutcomeUi/
taoQtiItem/
taoQtiTest/
taoResultServer/
taoTestTaker/
taoTests/
